body {
  font-family: Arial, sans-serif;
  margin: 50px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.output-wrapper {
  padding: 10px;
  border-radius: 8px;
  margin-top: 1rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-wrapper > :last-child {
  background-color: bisque;
  padding: 8px;
}
